<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand hhh"
      >Resume <i class="fa-solid fa-paper-plane"></i> Builder
    </a>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
      aria-controls="nav"
      aria-label="Expand Navigation"
    >
      <span class="navbar-toggler-icon">
        <!-- <i class="fa-sharp fa-solid fa-bars"></i> -->
      </span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page"
            >HOME <i class="fa-solid fa-house"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="/resume-form" class="nav-link"
            >BUILD RESUME <i class="fa-solid fa-file"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
